.mat-toolbar, .mat-toolbar h1, .mat-toolbar h2, .mat-toolbar h3, .mat-toolbar h4, .mat-toolbar h5, .mat-toolbar h6{
    font-family: 'Roboto Slab', serif !important;
}

.mat-toolbar{
  align-items:center;
}

.mat-grid-tile .mat-card{
  box-shadow:none;
  background-color:transparent;
  font-family: 'Roboto Slab', serif !important;
}

.mat-grid-tile.tile1 .mat-card h2{
  color:gray;
}

.directQuote{
  color:#969696;
}

.home-content-area{
  width:100%;
  box-sizing: border-box;
  background-color:#f9f9f9;
}

.tile1{
  background-color:#e3e3e3;
}

.content-bar{
  background-color:#fff;
  text-align:center;
}

.content-bar.fixed{
  position:fixed;
  top:64px;
  left:0px;
  min-height:46px;
  height:46px;
  z-index:2;
}

.content-bar.fixed .mat-toolbar-row{
  height:46px !important;
}

.home-content .mat-toolbar{
  text-align:center;
}

.home-content .mat-toolbar .mat-toolbar-row{
  text-align:center;
}

.quote{
  margin-bottom:30px;
}

.quote:nth-child(even){
  text-align:right;
}


.tileDark{
  background-color:gray;
}

.tileDark h2{
  color:#f3f3f3;
}

.tileDark h3{
  color:#fff;
  font-weight:bold;
}
