<div class="home-content">
  <mat-toolbar class="content-bar">
    <span class="directQuote">"It is an amazing likeness"</span> - Desmond Tutu
  </mat-toolbar>
  <div class="home-content-area">
  <mat-grid-list cols="{{colNum}}" rowHeight="1:1.33">
    <mat-grid-tile class="tile1">
      <mat-card>
        <h1>Pencil Portraits</h1>
        <h2>by Mark O'Keeffe</h2>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="{{tiles[0].path}}" alt="{{tiles[0].description}}"/>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="{{tiles[4].path}}" alt="{{tiles[4].description}}"/>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="{{tiles[1].path}}" alt="{{tiles[1].description}}"/>
    </mat-grid-tile>
    <mat-grid-tile class="tileDark">
      <mat-card>
        <div class="quote" *ngFor="let quote of quotes; let i = index">
          <h2>"{{quote.quotation}}"</h2>
          <h3>- {{quote.person}}</h3>
        </div>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="{{tiles[2].path}}" alt="{{tiles[2].description}}"/>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="{{tiles[6].path}}" alt="{{tiles[6].description}}"/>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="{{tiles[3].path}}" alt="{{tiles[3].description}}"/>
    </mat-grid-tile>
    <mat-grid-tile>
      <img src="{{tiles[5].path}}" alt="{{tiles[5].description}}"/>
    </mat-grid-tile>
  </mat-grid-list>


  </div>
</div>
