@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

mat-toolbar.header{
  background-color:#191919;
  color:#fff;
  position:fixed;
  top:0px;
  left:0px;
  z-index:3;
  font-family: 'Roboto Slab', serif;
}

.fill-space{
  flex: 1 1 auto;
}

nav{

}

nav a, a.logo{
  color:#fff;
  text-decoration:none;
}

nav a:hover{
  color:gray;
}

nav a.selected{
  color:#a7a5a5;
}

nav span:last-of-type span{
  display:none;
}

a.logo.selected{
  color:#fff;
}
