
<mat-toolbar class="header" color="primary">
  <a class="logo" routerLink="/">Mark O'Keeffe</a>
  <span class="fill-space"></span>
  <nav>
    <span *ngFor="let screen of screens; let i = index">
      <a routerLink="/{{screen.path}}" (click)="isClicked=i" [class.selected]="i === isClicked">
        {{ screen.name }}
      </a>
      <span class="slash">/</span>
    </span>
  </nav>
  <button mat-button [matMenuTriggerFor]="menu"><i class="material-icons">&#xE8FE;</i></button>
  <mat-menu #menu="matMenu">
    <button routerLink="/{{screen.path}}" *ngFor="let screen of screens; let i = index" mat-menu-item>{{ screen.name }}</button>
  </mat-menu>
</mat-toolbar>
