@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

.footer{
  width: 100%;
  box-sizing: border-box;
  padding: 8px 2%;
  text-align: center;
  font-size: 11px;
  font-family: 'Roboto Slab', serif;
  position: fixed;
  bottom: 0px;
  left: 0px;
  background-color: #fff;
  opacity: 0.5;
  height: 29px;
  z-index: 3;
}
