<mat-tab-group>
  <mat-tab label="Biography">
    <p>
      Mark O'Keeffe is a portrait artist from Dublin. He began drawing portraits in 1998. In his work, he is always careful in attempting to achieve accuracy in his portraits, believing that no detail can be regarded as minor.
    </p>
    <p>
      Mark achieved his first success in this area in 2000, when the then Taoiseach, Bertie Ahern, presented one of his portraits to the then U.S. President, Bill Clinton. Subsequently, Bertie Ahern went on to present Mark's work to several more figures, including Pope Benedict XVI and Tony Blair. In 2002, his work was presented by the then Lord Mayor of Dublin, Michael Mulcahy, to the former President of the Soviet Union, Mikhail Gorbachev. His work has also been received by many other notables, including Noam Chomsky, Desmond Tutu and Al Gore.
    </p>
    <p>
      Of a portrait that Mark did of Éamon de Valera in 2004, his son, Terry de Valera, wrote that it was 'indeed a very fine representation of the character of my late father and one the very best and finest amateur drawings of my father which I have seen for many, many a year. I shall treasure it as it brings back Father to me in many ways.'
    </p>
    <p>
      Edmund Hillary, who was the first person to successfully climb to the summit of Mt. Everest in 1953, wrote of a portrait which Mark drew of him that "it is an excellent likeness - much better than most of the professional pictures that constantly reach me."
    </p>
    <p>
      Whilst John Hume, Nobel Laureate and former leader of the S.D.L.P. wrote, "I could not believe how outstanding a portrait it was and how very accurate a portrayal of myself that it is. Indeed it is so accurate that it looks like a perfect photograph."
    </p>
    <p>
      Mark has participated in several exhibitions, including a solo one in Malahide Library in 2012. In 2013, he had the honour to be invited to Áras an Uachtaráin in Dublin, where he was privileged to present his work to the President of Ireland, Michael D. Higgins.
    </p>
    <p>
      His work has appeared in journals and other publications as far away as the Netherlands and New Zealand. In 2013, he provided the illustrations for "The GAA & Radio Éireann: 1926 - 2010" by Pat Guthrie.
    </p>
    <p>
      Mark's work is currently a part of the collection in the Duke Street Gallery in Dublin, Also, his portraits have been featured in several other galleries and establishments in Dublin, including the Apollo Gallery, the Nora Dunne Gallery, Grogan's Pub and the View Gallery.
    </p>
    
  </mat-tab>
  <mat-tab label="Galleries & Exhibitions">Content 2</mat-tab>
</mat-tab-group>
