@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

body{
  margin:0px;
  font-family: 'Roboto Slab', serif !important;
}

.mat-tab-body{
  padding:10px 3%;
}

.bold{
  font-weight:bold;
}

.carousel-nav-list{
  display:none !important;
}
